div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: initial;
    align-items: initial;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 30px 10%;
    gap: 40px;
  }
  