<div class="col-lg- col-12 mt-3 mx-auto" (scroll)="onScroll($event)">
  <div *ngIf="visibleResults && visibleResults.length > 0">
    <button class="btn orange-button scroll-to-top-btn text-white" (click)="scrollToTop()">
      <i class="bi bi-arrow-up-circle text-white"></i> Rolar para Cima
    </button>
    <div *ngFor="let result of visibleResults">
      <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5" (click)="redirectToDetailPage(result.data.url)">
        <div class="d-flex flex-column flex-sm-row">
          <div class="col-sm-4 mb-3 degrade-green-background custom-block-image-container d-flex align-items-center justify-content-center">
            <img *ngIf="result.snoovatarImg" [src]="result.snoovatarImg" class="custom-block-image img-fluid mb-3 mb-sm-0 mx-auto rounded-circle" alt="">
          </div>          
          <div class="col-sm-8 mb-3"> <!-- Adicionei a classe col-sm-8 à div -->
            <div class="custom-block-topics-listing-info flex-grow-1">
              <h3 class="mb-2 text-orange">{{ result.data.title }}</h3>
              <div class="d-flex flex-column flex-sm-row">
                <div class="col-md-5 mb-3">
                  <div class="card counter-card">
                  <div class="card-body text-center">
                    <i class="bi bi-chat " style="font-size: 3.5em;"></i>
                  </div>
                  <div class="card-body text-center">
                    <span class="counter green-counter " style="font-size: 30px;">{{ result.data.num_comments }}</span>
                    <p class="counter-label">Comentários</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 mb-3">
                <div class="vertical-line"></div>
              </div>
              <div class="col-sm-5 mb-3">
                <div class="card counter-card">
                  <div class="card-body text-center">
                    <i class="bi bi-trophy " style="font-size: 3.5em;"></i>
                  </div>
                  <div class="card-body text-center">
                    <span class="counter green-counter" style="font-size: 30px;">{{ result.data.ups }}</span> 
                    <p class="counter-label">Pontuação</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!results || results.length === 0">
  <p>Nenhum resultado encontrado.</p>
</div>
