<section class="home-section d-flex justify-content-center align-items-center" id="section_1">
  <div class="container">
    <div class="row align-items-center">          
        <div class="col-lg-8 col-12 mx-auto d-flex justify-content-center align-items-center flex-column text-center">
             <img src="../../../assets/images/reddit-logo.png" alt="Logo do Reddit" class="img-fluid rounded-logo mb-4">
             <h1 class="text-white text-center">Reddit Angular API</h1>

              <h6 class="text-center">Plataforma de busca de Subreddits </h6>

              <app-search></app-search>

          </div>

      </div>
  </div>
  
</section>

