<section class="home-section d-flex justify-content-center align-items-center" id="section_1">
  <div [ngClass]="{'container-sm': isSmallScreen, 'container-md': !isSmallScreen}" class="animate__animated animate__puffOut">
    <div class="row align-items-center">          
      <div class="col-lg-12 col-md-10 col-12 mx-auto d-flex justify-content-center align-items-center flex-column text-center">
        <img src="../../../assets/images/reddit-logo.png" alt="Logo do Reddit" class="img-fluid rounded-logo mb-4">
        <h1 class="text-title text-center">Reddit Angular API</h1>
        <h6 class="text-center">Plataforma de busca de Subreddits</h6>
        <app-search></app-search>
      </div>
    </div>
  </div>
</section>
