 .rounded-logo {
    width: 100px;
    height: 100px;
  }

  .img-fluid:hover {
    animation: jello 1s;
  }
  
  @keyframes jello {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }


  
  .form-floating>label {
    padding-left: 20px;
  }

  
  .home-section {
    background-image: linear-gradient(15deg, #154922 0%, #77c082 100%);
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 150px;
    height: 100vh; 
    margin: 0; 
    padding: 0; 
  }
  
  
  .home-section .input-group {
    background-color: #ffff;
    border-radius: 100px;
    padding: 10px 15px;
  }
  
  .home-section .input-group-text {
    background-color: transparent;
  }

  .home-section input[type="search"] {
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .home-section button[type="submit"] {
    background-color: #4F709C;
    border: 0;
    border-radius: 100px;
    color: #ffff;
    max-width: 150px;
  }

  .container-sm {
    background-image: linear-gradient(15deg, rgba(240, 243, 236, 0.99) 0%, rgba(254, 255, 253, 0.99) 100%);
    border-radius: 14px;
  }
  .container-md {
    height: 638px;
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(15deg, rgba(240, 243, 236, 0.99) 0%, rgba(254, 255, 253, 0.99) 100%);
    border-radius: 14px;
  }