<div class="main-container">
  <app-button-top></app-button-top>
  <div class="post-container card mb-3">
    <div class="card bg-gradient">
      <div class="card-header bg-success d-flex align-items-center">
        <img [src]="snoovatarImg" alt="Snoovatar Image" class="round-avatar" />
        <h2 class="card-title text-white">Autor: {{ authorPost[0]?.data?.author }}</h2>
      </div>        
      <div class="card-body">
        <h4 class="card-subtitle">{{ authorPost[0]?.data?.title }}</h4>
        <p class="card-text">{{ authorPost[0]?.data?.selftext }}</p>
        <div class="row">
          <div class="col-md-6">
            <p class="card-text">Pontuação: {{ authorPost[0]?.data?.ups }}</p>
          </div>
          <div class="col-md-6">
            <p class="card-text">Número de Comentários: {{ authorPost[0]?.data?.num_comments }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="otherComments.length > 0" class="comments-container">
    <div class="row">
      <div *ngFor="let comment of otherComments; let i = index" class="col-lg-6 mb-3">
        <div class="card" style="height: 500px; overflow-y: auto;">
          <div class="card-header d-flex align-items-center justify-content-center">
            <div class="avatar-container">
              <img src="../../../assets/images/icon-green.jpg" class="rounded-circle" alt="User Avatar" width="40" height="40">
            </div>
            <div class="message-container flex-grow-1 ml-3">
              <h4 class="author-info font-weight-bold text-white">{{ comment.data.author }}</h4>
            </div>
          </div>          
          <div class="card-body text-center">
            <div class="comment-body">{{ comment.data.body }}</div>
            <div class="row justify-content-center align-items-center">
              <div class="col-md-6">
                <p class="card-text">
                  <span class="bi bi-trophy" style="font-size: 30px;"></span>
                </p>
                <p class="card-text mb-0">Pontuação: {{ authorPost[0]?.data?.ups }}</p>
              </div>
            </div>                
            <ng-container *ngIf="comment.data.url">
              <a [href]="comment.data.url" target="_blank" class="btn btn-primary btn-sm d-block mx-auto mt-2">Link Externo</a>
            </ng-container>
          </div>          
        </div>
      </div>
    </div>
  </div>

</div>
